QWidget {
    background-color: #2E2E2E;
    color: #FFFFFF;
}
QLabel {
    color: #FFFFFF;
}
QPushButton:hover {
    background-color: #5A5A5A;
}
QPushButton {
    background-color: #3C3C3C;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
}